body {
  margin: 0px 30px;
  padding: 30px;
  font-family: sans-serif;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    width: 100%;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}

.page-header {
  height: 0px;
  padding: 0px;
  margin: 0px;
  color: white;
}

.panel-title {
  color: white;
}

.clear {
    clear: both;    
}

.btn-danger {
    margin-right: 15px;
    text-transform: uppercase;
    padding: 10px;
    display: block;
    float: left;
}

.btn-danger a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #fff;
}

.more.label {
    float: center;    
}

.align-center {
    margin: auto;
    text-align: center;
}

 .center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
   text-align: center;
   background-color: #002652;
   padding: 25px;
   margin: 20px;
   border: 5px solid #ccc;
   border-radius: 25px;
 }


.center {
    float: center;
}

.footer-space {
  padding-top: 40px;
}

.panel {
	margin-top: 30px;
}

.panel-body {
	background-color: white;
	padding: 20px;
}

